.App {
  text-align: center;
}
#list-home-list{
  background-color: #f2f5f6!important;
  color:black;
  border:0px solid black;
  text-align: left;
  font-weight: 500;
}
#list-settings-list{
  text-align: left;
  cursor: text;
  font-weight: 500;
}
#list-settings-list:hover{
  background-color:none!important;
  cursor: text;
  font-weight: 500;
}
.navbar-brand{
  font-weight: 30;
}

.navbar-nav > li{
  padding-left:0px;
  padding-right:0px;
}
.navbar-nav > li{
  margin-left:0px;
  margin-right:0px;
}
*{
  color:black!important;
  font-weight: 500;
}
.navbar-brand{
  cursor:pointer;
}
.word{
        word-break:break-all!important;
        text-align: left;
}
.bg{
  background-color:orangered!important;
}